<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-6">Stories</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      {{#each stories}}
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
          <div class="p-4">
            <div class="mb-4">
              <a href="/stories/user/{{user._id}}" class="text-blue-600 text-xl font-semibold">{{user.name}}</a>
              {{{editIcon user ../user _id}}}
            </div>
            <h4 class="text-xl font-bold mb-2">{{title}}</h4>
            <p class="text-gray-600">{{stripTags (truncate body 100)}}</p>
          </div>
          <div class="p-4 border-t border-gray-200 flex">
            <a href="/stories/{{_id}}" class="btn bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded mx-auto justify-center items-center">Read More</a>
          </div>
          
        </div>
      {{else}}
        <p>No stories</p>
      {{/each}}
    </div>
  </div>